In [1]:
# Imports
import pandas as pd
import seaborn as sns

# Load data

In [2]:
# Load data
data = pd.read_csv("Input/archive.zip", low_memory=False)
data.head()

,title,text,date,category,subcategory,link
0,"Lula diz que está 'lascado', mas que ainda tem...",Com a possibilidade de uma condenação impedir ...,2017-09-10,poder,NaN,http://www1.folha.uol.com.br/poder/2017/10/192...
1,"'Decidi ser escrava das mulheres que sofrem', ...","Para Oumou Sangaré, cantora e ativista malines...",2017-09-10,ilustrada,NaN,http://www1.folha.uol.com.br/ilustrada/2017/10...
2,Três reportagens da Folha ganham Prêmio Petrob...,Três reportagens da Folha foram vencedoras do ...,2017-09-10,poder,NaN,http://www1.folha.uol.com.br/poder/2017/10/192...
3,Filme 'Star Wars: Os Últimos Jedi' ganha trail...,A Disney divulgou na noite desta segunda-feira...,2017-09-10,ilustrada,NaN,http://www1.folha.uol.com.br/ilustrada/2017/10...
4,CBSS inicia acordos com fintechs e quer 30% do...,"O CBSS, banco da holding Elopar dos sócios Bra...",2017-09-10,mercado,NaN,http://www1.folha.uol.com.br/mercado/2017/10/1...

# First exploration

In [5]:
# Count empty values by columns
data.isnull().sum()

title               0
text              765
date                0
category            0
subcategory    137418
link                0
dtype: int64

In [6]:
# Count items by category
data.groupby("category").count().sort_values(by="title", ascending=False)

                              title   text   date  subcategory   link
category
poder                         22022  22022  22022          939  22022
colunas                       21622  21619  21622        21622  21622
mercado                       20970  20970  20970            0  20970
esporte                       19730  19730  19730         2859  19730
mundo                         17130  17130  17130            0  17130
cotidiano                     16967  16967  16967           35  16967
ilustrada                     16345  15617  16345            0  16345
opiniao                        4525   4525   4525            0   4525
paineldoleitor                 4011   4011   4011          260   4011
saopaulo                       3955   3955   3955          471   3955
tec                            2260   2260   2260            0   2260
tv                             2142   2123   2142         2142   2142
educacao                       2118   2118   2118            0   2118
turismo                        1903   1903   1903            0   1903
ilustrissima                   1411   1409   1411            0   1411
ciencia                        1335   1335   1335            0   1335
equilibrioesaude               1312   1312   1312            0   1312
sobretudo                      1057   1057   1057         1057   1057
bbc                             980    980    980            0    980
folhinha                        876    875    876            0    876
empreendedorsocial              841    841    841          150    841
comida                          828    828    828            0    828
asmais                          548    547    548            0    548
ambiente                        491    491    491            0    491
seminariosfolha                 379    379    379            0    379
serafina                        334    331    334            0    334
o-melhor-de-sao-paulo           189    189    189           71    189
vice                            146    146    146            0    146
guia-de-livros-discos-filmes    143    143    143            0    143
topofmind                        86     86     86            0     86
banco-de-dados                   64     64     64            0     64
dw                               48     48     48            0     48
especial                         43     43     43            0     43
infograficos                     43     40     43            0     43
cenarios-2017                    43     43     43            0     43
rfi                              29     29     29            0     29
guia-de-livros-filmes-discos     28     28     28            0     28
multimidia                       27     27     27           27     27
treinamento                      21     21     21            0     21
treinamentocienciaesaude         18     18     18            0     18
mulher                           16     16     16            0     16
euronews                          8      8      8            0      8
ombudsman                         3      3      3            0      3
contas-de-casa                    2      0      2            2      2
2016                              1      0      1            0      1
bichos                            1      1      1            0      1
musica                            1      0      1            0      1
2015                              1      0      1            0      1

In [35]:
# To avoid unbalanced data, we will remove the categories with less than 400 items
categories_mask = data["category"].value_counts() > 400
categories_mask = categories_mask[categories_mask.values].index
# Filter data
mask = data["category"].isin(categories_mask)
data_filtered = data[mask]
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165379 entries, 0 to 167052
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   title        165379 non-null  object
 1   text         164625 non-null  object
 2   date         165379 non-null  object
 3   category     165379 non-null  object
 4   subcategory  29535 non-null   object
 5   link         165379 non-null  object
dtypes: object(6)
memory usage: 8.8+ MB

# Sampling

In [39]:
data_balanced = data_filtered.groupby('category').apply(lambda x: x.sample(400, random_state=333)).reset_index(drop=True)
data_balanced.category.value_counts()

ambiente              400
asmais                400
turismo               400
tec                   400
sobretudo             400
saopaulo              400
poder                 400
paineldoleitor        400
opiniao               400
mundo                 400
mercado               400
ilustrissima          400
ilustrada             400
folhinha              400
esporte               400
equilibrioesaude      400
empreendedorsocial    400
educacao              400
cotidiano             400
comida                400
colunas               400
ciencia               400
bbc                   400
tv                    400
Name: category, dtype: int64

In [40]:
data_balanced

,title,text,date,category,subcategory,link
0,"Após 20 anos, presença do raro gavião-real é r...","A presença de um gavião-real, uma das maiores ...",2017-09-28,ambiente,NaN,http://www1.folha.uol.com.br/ambiente/2017/09/...
1,"Aumento do nível do mar pode estar a caminho, ...",Cientistas que estudam padrões de mudanças nat...,2017-01-21,ambiente,NaN,http://www1.folha.uol.com.br/ambiente/2017/01/...
2,Temer revoga decreto sobre reserva mineral e a...,Menos de uma semana depois de anunciar a extin...,2017-08-28,ambiente,NaN,http://www1.folha.uol.com.br/ambiente/2017/08/...
3,Poluição é uma das ameaças à beleza natural da...,"Há mais de 140 anos, o governo dos Estados Uni...",2015-06-20,ambiente,NaN,http://www1.folha.uol.com.br/ambiente/2015/06/...
4,Fernando de Noronha vira laboratório de negóci...,Os governos de Pernambuco e da Califórnia quer...,2016-07-11,ambiente,NaN,http://www1.folha.uol.com.br/ambiente/2016/11/...
...,...,...,...,...,...,...
9595,"""Volta na Quadra"": Chico César mostra bairro d...","Vídeo com o cantor estreia a websérie ""Volta n...",2015-08-30,tv,classificados,http://www1.folha.uol.com.br/tv/classificados/...
9596,Maioria das doações de empresas é resultado de...,"Ex-presidente da Transpetro, Sérgio Machado af...",2016-06-17,tv,poder,http://www1.folha.uol.com.br/tv/poder/2016/06/...
9597,"Em Cuba, 'jeitinho' garante sobrevida a carros...",Um dos traços marcantes da paisagem em Cuba é ...,2015-07-26,tv,mundo,http://www1.folha.uol.com.br/tv/mundo/2015/07/...
9598,Fronteiras simbólicas agravam fosso entre regi...,O estigma das periferias como áreas de pobreza...,2016-06-17,tv,cotidiano,http://www1.folha.uol.com.br/tv/cotidiano/2016...
9599,Meirelles: Imposto será preço a pagar se teto ...,"O ministro da Fazenda, Henrique Meirelles, dis...",2016-07-25,tv,mercado,http://www1.folha.uol.com.br/tv/mercado/2016/0...